
extends baseEmail

block content
    p Hi #{firstName},
    p Welcome to Natours, here is your OTP (Valid for only 15 minutes!)
    div #{url}
    p If you need any help signing up, please don't hesitate to contact us!
    p - Natours