

extends base

block append head


block content
    main.main
    .login-form
        h2.heading-secondary.ma-bt-lg Enter your email to get the Password reset link.
    
        form.form-forgot-password
            .form__group
                label.form__label(for='email') Email address
                input#email.form__input(type='email', placeholder='you@example.com', required)
            
            .form__group.button-container
                button.btn.btn--green.btn-send-email Send email