
extends base

block append head

block content
    main.main 
    .login-form
        h2.heading-secondary.ma-bt-lg Create account
    
        form.form-signup
            .form__group
                label.form__label(for='username') User Name
                input#username.form__input(type="text", required)
            .form__group
                label.form__label(for='password') Password
                input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-md
                label.form__label(for='password-confirm') Confirm password
                input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
                label.form__label(for='otp') OTP
                input#otp.form__input(type='text', placeholder='******', required)
            .form__group.button-container
                button.btn.btn--green.btn-signup Create Account